{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero nobis impedit molestias amet itaque tenetur aperiam sequi asperiores sed. Laborum iure nulla cum veritatis laudantium eos quaerat id voluptate sunt animi voluptates praesentium consectetur nobis, qui harum est dolorum.</p>
<p>Et error autem consequuntur, incidunt vitae velit pariatur necessitatibus, similique, aperiam repellat quo? Eveniet itaque facilis iusto, odio nostrum delectus veritatis, rem iure, possimus quaerat ab magni sapiente quisquam reprehenderit rerum quod dignissimos blanditiis recusandae! Commodi autem dignissimos saepe architecto!</p>
{% endblock %}